@font-face {
    font-family: "SVN-Gilroy";
    src: local("SVN-Gilroy"),
        url(~assets/fonts/svn-gilroy/SVN-Gilroy-Thin.otf) format("truetype");
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: "SVN-Gilroy";
    src: local("SVN-Gilroy"),
        url(~assets/fonts/svn-gilroy/SVN-Gilroy-Thin-Italic.otf)
            format("truetype");
    font-weight: 100;
    font-style: italic;
}
@font-face {
    font-family: "SVN-Gilroy";
    src: local("SVN-Gilroy"),
        url(~assets/fonts/svn-gilroy/SVN-Gilroy-Xlight.otf) format("truetype");
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: "SVN-Gilroy";
    src: local("SVN-Gilroy"),
        url(~assets/fonts/svn-gilroy/SVN-Gilroy-Xlight-Italic.otf)
            format("truetype");
    font-weight: 200;
    font-style: italic;
}
@font-face {
    font-family: "SVN-Gilroy";
    src: local("SVN-Gilroy"),
        url(~assets/fonts/svn-gilroy/SVN-Gilroy-Light.otf) format("truetype");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: "SVN-Gilroy";
    src: local("SVN-Gilroy"),
        url(~assets/fonts/svn-gilroy/SVN-Gilroy-Light-Italic.otf)
            format("truetype");
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: "SVN-Gilroy";
    src: local("SVN-Gilroy"),
        url(~assets/fonts/svn-gilroy/SVN-Gilroy-Regular.otf) format("truetype");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "SVN-Gilroy";
    src: local("SVN-Gilroy"),
        url(~assets/fonts/svn-gilroy/SVN-Gilroy-Italic.otf) format("truetype");
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: "SVN-Gilroy";
    src: local("SVN-Gilroy"),
        url(~assets/fonts/svn-gilroy/SVN-Gilroy-Medium.otf) format("truetype");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "SVN-Gilroy";
    src: local("SVN-Gilroy"),
        url(~assets/fonts/svn-gilroy/SVN-Gilroy-Medium-Italic.otf)
            format("truetype");
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: "SVN-Gilroy";
    src: local("SVN-Gilroy"),
        url(~assets/fonts/svn-gilroy/SVN-Gilroy-SemiBold.otf) format("truetype");
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: "SVN-Gilroy";
    src: local("SVN-Gilroy"),
        url(~assets/fonts/svn-gilroy/SVN-Gilroy-SemiBold-Italic.otf)
            format("truetype");
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: "SVN-Gilroy";
    src: local("SVN-Gilroy"),
        url(~assets/fonts/svn-gilroy/SVN-Gilroy-Bold.otf) format("truetype");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "SVN-Gilroy";
    src: local("SVN-Gilroy"),
        url(~assets/fonts/svn-gilroy/SVN-Gilroy-Bold-Italic.otf)
            format("truetype");
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: "SVN-Gilroy";
    src: local("SVN-Gilroy"),
        url(~assets/fonts/svn-gilroy/SVN-Gilroy-XBold.otf) format("truetype");
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: "SVN-Gilroy";
    src: local("SVN-Gilroy"),
        url(~assets/fonts/svn-gilroy/SVN-Gilroy-XBold-Italic.otf)
            format("truetype");
    font-weight: 800;
    font-style: italic;
}
@font-face {
    font-family: "SVN-Gilroy";
    src: local("SVN-Gilroy"),
        url(~assets/fonts/svn-gilroy/SVN-Gilroy-Black.otf) format("truetype");
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: "SVN-Gilroy";
    src: local("SVN-Gilroy"),
        url(~assets/fonts/svn-gilroy/SVN-Gilroy-Black-Italic.otf)
            format("truetype");
    font-weight: 900;
    font-style: italic;
}
